/**
 * Namespaced colors
 *
 * - forbes-red: "Forbes Red" from the Forbes Library style guide
 * - forbes-green: "Forbes Green" from the Forbes Library style guide
 * - bright-green: a brighter version of Forbes Green for when we need high
 *     contrast against a dark background
 * - link-blue: a blue like the one commonly used for unstyled links
 */
@colors: {
  forbes-red: #722327;
  forbes-green: #006c64;
  forbes-light-navy:#5d989f;
  forbes-navy: #25475e;
  forbes-coral: #ed725a;
  floral-white: #f9F8F4;
  bright-green: lighten(desaturate(#006c64, 50%), 30%);
  link-blue: #1e0fbe;
  hover-link-blue: lighten(#1e0fbe, 20%);
}
