/**
 * Breadcrumbs
 * ============================================================================
 */

.breadcrumbs {
  flex-basis: 100%;
  font-size: 75%;

  &:first-child {
    margin: 1em 0 0 0.5em;
  }

  &:any-link {
    font-weight: 900;
  }
}
